# MAITRI AI Assistant
# Python Version : 3.10.5
google-auth
google-auth-oauthlib
google-auth-httplib2

transformers
torch

beautifulsoup4

SpeechRecognition
pyttsx3
pyaudio/sounddevice

requests

spaCy
